body {
  background-color: honeydew;
}

.wrapper {
  display: flex;
}

.animal-container {
  flex-basis: 50%;
  padding: 20px;
  button {
    width: 300px;
  }
}

.edit-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-new-animal-button {
  margin-bottom: 20px;
}

new-animal, animal-edit {
  width: 100%;
  display: flex;
  justify-content: center;
  .edit-animal, .new-animal {
    width: 80%;
    display: flex;
    flex-direction: column;
    .form-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    label {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }
    input {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  height: 24px;
  width: 30px;
  background: linear-gradient(to bottom, #ddd, #fff);
  border: 1px solid #aaa;
  &:hover {
    cursor: pointer;
  }
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.animal-list-output div, .animal-list-output ul, .edit-animal, .new-animal {
  display: flex;
  flex-direction: column;
}
