body {
  background-color: honeydew;
}

.wrapper {
  display: flex;
}

.animal-container {
  flex-basis: 50%;
  padding: 20px;
}

.edit-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

new-animal, animal-edit {
  width: 80%;
  display: flex;
  justify-content: center;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.animal-list-output div, .animal-list-output ul, .edit-animal, .new-animal {
  display: flex;
  flex-direction: column;
}
